body{
   background-color: #efefef;
}
.main{
    margin:30px;
    border-radius: 20px;
    background-color:white;
}

.publish-alert{
    float:left;
    border: 0;
    color: white;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}
.btn-publish{
    float:right;
    margin-bottom: 15px;
    border: 0;
    width: 60px;
    height: 35px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.list-group{
    margin: 30px;
}

.media-object{
    height: 38px;
    width: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.question-edit{
    color: #999;
    font-size: 13px;
}

.media-body{
    padding: 10px;
}

.comment{
    margin: 10px 0;
}

.btn-comment{
    margin-bottom: 10px;
    margin-top: 10px;
    float: right;
    border: none;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.comment-sp{
    margin-top: 0;
}

.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #999999;
}

.sec-comment{
    padding-top: 15px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid;
    margin-bottom: 15px;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    margin-right: 5px;
    cursor: pointer;
    font-size: 17px;
}

.menu .icon:hover{
    color: #2aabd2;
}

.text-pad{
    padding-left: 40px;
    padding-top: 15px;
}

.text-relative-pad{
    padding-top: 30px;
}