body{
    margin: 0;
    padding: 0;
    background-image: url(../img/kon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.main{
    margin-top: 70px;
    padding: 20px 50px;
    border-radius: 20px;
    background-color:rgba(0,0,0,0);
}

.publish-alert{
    margin-top: -50px;
    border: 0;
    color: white;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}
.btn-publish{
    float:right;
    border: 0;
    width: 60px;
    height: 35px;
    color: white;
    margin-top: -50px;
    border-radius: 10px;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.media-object{
    height: 38px;
    width: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.question-edit{
    color: #999;
    font-size: 13px;
}