<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <title>memory garden</title>
</head>
<body>
<div id="bigBox">
    <h1>LOGIN</h1>
    <hr>
    <div class="inputBox">
        <div class="inputText">
            <span class="iconfont icon-user"></span>
            <input type="text" placeholder="Username" />
        </div>
        <div class="inputText">
            <span class="iconfont icon-password"></span>
            <input type="text" placeholder="Password" />
        </div>
    </div>
    <input class="inputbutton" type="button" value="Login" />
</div>
</body>
</html>